%section.masthead.jumbotron
  .container
    .row.text-center
      %h1 CrossFit Rocky
      %h4 Forging Elite Fitness
      .col-sm-12
        =image_tag "home-page-hero.jpg", class: "hero img-responsive"

%section.divider
  .container
    .row.text-center
      .col-sm-12
        %hr

%section#wod
  .container.text-center
    %h2 WOD
    .row.text-center
      .col-sm-offset-2.col-sm-8
        .jumbotron.for-wod
          %h3= Time.now.strftime "%A %B %d, %Y"
          %hr
          %h5 AMRAP15:
          %h4 10 x Burpees
          %h4 5 x Squat Clean
          %h4 1 x Jerk

%section.divider
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr

%section#about
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        .row
          %h2 CONSTANTLY VARIED
          .col-sm-4.text-left
            =image_tag "greg_oh.png", class: "img-responsive"
            %h4 What is CrossFit?
            %p CrossFit is the principal strength and conditioning program for many police academies and tactical operations teams, military special operations units, champion martial artists, and hundreds of other elite and professional athletes worldwide.
          .col-sm-4.text-left
            =image_tag "doug_tire_pull.jpg", class: "img-responsive"
            %h4 Functional Fitness
            %p At CFR, our goal is to deliver a broad, general, and inclusive fitness. Your results are observed and measured every workout with the objective of increased work capacity across broad time and modal domains. What does this mean? It means obtaining a fitness with measurable results while improving your ability to finish any physical task quicker and better than ever before.(Tested and proven!) 
          .col-sm-4.text-left
            =image_tag "meagan.png", class: "img-responsive"
            %h4 Be Ready For Life's Challenges
            %p Training Constantly varied skills and drills from gymnastics, metabolic conditioning, and Olympic Weightlifting, you will obtain functional strength and an athletic skill set which will prepare you for any of life's physical challenges. 
        .row.text-center.main-site-link
          = link_to "CFMAINSITE", "http://www.crossfit.com", :target => "_blank", class: "btn btn-success btn-md"

        .divider
          .row.text-center
            .col-sm-offset-1.col-sm-10
              %hr
             
        .row
          %h2.extra-top-margin HIGH INTENSITY
          .col-sm-6.text-left
            =image_tag "brian_row.jpg", class: "img-responsive"
            %h4 Fitness Domains
            %p We now know that fitness is not just your ability to run for extended periods or lift a heavy weight, but a fine tuned balance of 10 overall fitness domains: Cardiovascular & respiratory endurance, stamina, strength, flexibility, power, speed, coordination, agility, balance, and accuracy. 
          .col-sm-6.text-left
            =image_tag "stan_front_rack.jpg", class: "img-responsive"
            %h4 Unlocked Potential
            %p We will train and challenge each of the ten fitness domains for an inclusive fitness that prepares each individual for both the known and unknowable that sport and life present. We view every person as an athlete and it is our goal for each individual to unlock their own athletic potential, and to achieve their highest capacity for work and best possible expression of human form.

%section.divider
  .container
    .row.text-center
      .col-sm-offset-3.col-sm-6
        %hr
 
%section
  .container.text-center
    %h2 FUNCTIONAL MOVEMENTS
    .row
      .col-sm-offset-1.col-sm-10
        #carousel-example-generic.carousel.slide{ data: { ride: "carousel"} }
          %ol.carousel-indicators
            %li.active{ data: {target: "#carousel-example-generic", "slide-to" => "0" }}
            %li{ data: {target: "#carousel-example-generic", "slide-to" => "1" }}
            %li{ data: {target: "#carousel-example-generic", "slide-to" => "2" }}

          .carousel-inner{ role: "listbox" }
            .item.active
              =image_tag "wallballs_bw.jpg", class: "img-responsive"
            .item
              =image_tag "muscle_up_crop_bw.jpg", class: "img-responsive"
            .item
              =image_tag "dustin_medals_crop_bw.jpg", class: "img-responsive"

%section.divider
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr

%section#coaches
  .container.text-center
    %h2 COACHES
    .row.text-center
      .col-sm-offset-3.col-sm-8
        .row
          .col-md-6.text-left.clearfix.coach-bio
            =image_tag "john_overhead_avatar.png", class: "avatar pull-left"
            %h4 John Giron
            %p Gym owner
            %p CrossFit Level I Trainer (CF-L1)
          .col-md-6.text-left.clearfix.coach-bio
            =image_tag "christina_kb_avatar.png", class: "avatar pull-left"
            %h4 Christina Giron
            %p Gym owner
            %p CrossFit Level I Trainer (CF-L1)
          .col-md-6.text-left.clearfix.coach-bio
            =image_tag "meagan_ohs_avatar.png", class: "avatar pull-left"
            %h4 Meagan Crews
            %p CrossFit Level I Trainer (CF-L1)
          .col-md-6.text-left.clearfix.coach-bio
            =image_tag "gerald_avatar.jpg", class: "avatar pull-left"
            %h4 Gerald Braden
            %p CrossFit Level I Trainer (CF-L1)
        .row
          .col-md-6.text-left.clearfix.coach-bio
            =image_tag "jeff_fs_avatar.png", class: "avatar pull-left"
            %h4 Jeff Gerlach
            %p CrossFit Level I Trainer (CF-L1)

%section.divider
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr


%section#schedule
  .container.text-center
    %h2 CLASS TIMES
    .row 
      .col-sm-8.col-sm-offset-2
        .row.text-center
          .col-sm-10.col-sm-offset-1
            .table-responsive
              %table.table
                %tr
                  %th
                  %th Morning
                  %th Evening
                %tr
                  %td{:rowspan=>"2"} 
                    %b Monday
                  %td{:rowspan=>"2"} 
                    %p 5:00 AM
                  %td{:rowspan=>"2"} 
                    %p 5:30 PM
                    %p 6:30 PM
                %tr
                %tr
                  %td{:rowspan=>"2"} 
                    %b Tuesday
                  %td{:rowspan=>"2"} 
                    %p 5:00 AM
                    %p 6:00 AM
                  %td{:rowspan=>"2"} 
                    %p 5:30 PM
                    %p 6:30 PM
                %tr
                %tr
                  %td{:rowspan=>"2"} 
                    %b Wednesday
                  %td{:rowspan=>"2"} 
                    %p 5:00 AM
                  %td{:rowspan=>"2"} 
                    %p 5:30 PM
                    %p 6:30 PM
                %tr
                %tr
                  %td{:rowspan=>"2"} 
                    %b Thursday
                  %td{:rowspan=>"2"} 
                    %p 5:00 AM
                    %p 6:00 AM
                  %td{:rowspan=>"2"} 
                    %p 5:30 PM
                    %p 6:30 PM
                %tr
                %tr
                  %td{:rowspan=>"2"} 
                    %b Friday
                  %td{:rowspan=>"2"} 
                    %p 5:00 AM
                  %td{:rowspan=>"2"} 
                    %p 5:30 PM

%section.divider
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr

%section#pricing
  .container.text-center
    %h2 PRICING
    .row.text-center
      .col-md-4.text-center
        .panel.panel-success.panel-pricing
          .panel-heading
            %i.fa
            %h3 Monthly Membership
          .panel-body.text-center
            %p
              %strong $120/month
          %ul.list-group.text-center
            %li.list-group-item
              %i.fa.fa-check Auto-Pay Available 
            %li.list-group-item
              %i.fa.fa-check Military/Law/Fire/Student 10% Discount Available
            %li.list-group-item
              %i.fa.fa-check 30 Day Cancellation Notice Required
          .panel-footer
            %a.btn.btn-lg.btn-block.btn-success{:href=>"#pricing"} SIGN UP!
      .col-md-4.text-center
        .panel.panel-success.panel-pricing
          .panel-heading
            %i.fa
            %h3 Yearly Membership
          .panel-body.text-center
            %p
              %strong $110/month
          %ul.list-group.text-center
            %li.list-group-item
              %i.fa.fa-check ~10% Savings, Best Value!
            %li.list-group-item
              %i.fa.fa-check Military/Law/Fire/Student 10% Discount Available
            %li.list-group-item
              %i.fa.fa-check Auto-Pay Required, Year-Long Commitment
          .panel-footer
            %a.btn.btn-lg.btn-block.btn-success{:href=>"#pricing"} SIGN UP!
      .col-md-4.text-center
        .panel.panel-success.panel-pricing
          .panel-heading
            %i.fa
            %h3 Family Membership
          .panel-body.text-center
            %p
              %ul 2 Members Regular Price
              %ul + $59/month per Additional 
          %ul.list-group.text-center
            %li.list-group-item
              %i.fa.fa-check Auto-Pay Available 
            %li.list-group-item
              %i.fa.fa-check Military/Law/Fire/Student 10% Discount Available
            %li.list-group-item
              %i.fa.fa-check Available For Monthly and Yearly Memberships
          .panel-footer
            %a.btn.btn-lg.btn-block.btn-success{:href=>"#pricing"} SIGN UP!
    .row.text-center
      .col-md-4.text-center
        .panel.panel-success.panel-pricing
          .panel-heading
            %i.fa
            %h3 Drop-In
          .panel-body.text-center
            %p
              %strong $15
          %ul.list-group.text-center
            %li.list-group-item
              %i.fa.fa-check Pay At The Door
            %li.list-group-item
              %i.fa.fa-check Cash or Check
      .col-md-4.text-center
        .panel.panel-success.panel-pricing
          .panel-heading
            %i.fa
            %h3 Foundations Class
          .panel-body.text-center
            %p
              %strong $100
          %ul.list-group.text-center
            %li.list-group-item
              %i.fa.fa-check Required For New CrossFit Athletes
            %li.list-group-item
              %i.fa.fa-check One Time Fee 
            %li.list-group-item
              %i.fa.fa-check Not Required If You Have Previous CrossFit Experience
          .panel-footer
            %a.btn.btn-lg.btn-block.btn-success{:href=>"#pricing"} PAY NOW!
      .col-md-4.text-center
        .panel.panel-success.panel-pricing
          .panel-heading
            %i.fa
            %h3 Punch Card
          .panel-body.text-center
            %p
              %strong $100
          %ul.list-group.text-center
            %li.list-group-item
              %i.fa.fa-check Good for 10 Classes
            %li.list-group-item
              %i.fa.fa-check Military/Law/Fire/Student 10% Discount Available
            %li.list-group-item
              %i.fa.fa-check No Expiration
          .panel-footer
            %a.btn.btn-lg.btn-block.btn-success{:href=>"#pricing"} PAY NOW!

%section.divider
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr

%section#faq
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        .row
          %h2 Frequently Asked Questions
          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                %a.accordion-toggle.collapsed{'data-toggle'=>"collapse", 'data-parent'=>'#accordion', 'href'=>'#collapseOne'} 
                  %h4.panel-title Am I "fit" enough to CrossFit?
              #collapseOne.panel-collapse.collapse
                .panel-body.text-left
                  YES! The needs of Olympic athletes and our grandparents differ by degree not kind. The CrossFit program is designed for universal scalability making it the perfect application for any committed individual regardless of experience. We’ve used our same routines for elderly individuals with heart disease to Firefighters, Military, Law enforcement, elite athletes, and everyone in between! We scale load and intensity; we don’t change programs.
            .panel.panel-default
              .panel-heading
                %a.accordion-toggle.collapsed{'data-toggle'=>"collapse", 'data-parent'=>'#accordion', 'href'=>'#collapseTwo'} 
                  %h4.panel-title Will CrossFit make me "bulky"?
              #collapseTwo.panel-collapse.collapse
                .panel-body.text-center
                  %p NO! For our female athletes, please check out this awesome article from CFFMS about CrossFit and bulkiness. 
                  %p= link_to 'ARTICLE', "https://crossfitfms.wordpress.com/2012/07/20/the-fear-of-bulkiness-and-crossfit", :target => "_blank", class: "btn btn-success btn-sm faq-button reduce"
            .panel.panel-default
              .panel-heading
                %a.accordion-toggle.collapsed{'data-toggle'=>"collapse", 'data-parent'=>'#accordion', 'href'=>'#collapseThree'} 
                  %h4.panel-title Can I try it out before joining?
              #collapseThree.panel-collapse.collapse
                .panel-body.text-left
                  YES! CrossFit Rocky offers a free, 3-day (consecutive business days) trial to experience what the workouts are all about! This will allow each individual a firsthand knowledge about what is meant by “Constantly Varied, Functional Movements, and High Intensity". Strength and conditioning coaches will assist you during this trial period.
            .panel.panel-default
              .panel-heading
                %a.accordion-toggle.collapsed{'data-toggle'=>"collapse", 'data-parent'=>'#accordion', 'href'=>'#collapseFour'} 
                  %h4.panel-title How do I get started?
              #collapseFour.panel-collapse.collapse
                .panel-body.text-left
                  %p EASY! Just call (805) 748-8480 or connect with us to make an appointment and receive your free trial. Be sure to have your completed waiver when you arrive for your free trial.
                  %p.text-center= link_to 'CONTACT US', "#contact", class: "btn btn-success btn-sm reduce"
            .panel.panel-default
              .panel-heading
                %a.accordion-toggle.collapsed{'data-toggle'=>"collapse", 'data-parent'=>'#accordion', 'href'=>'#collapseFive'} 
                  %h4.panel-title Where can I find printable documents?
              #collapseFive.panel-collapse.collapse
                .panel-body.text-center
                  %p= link_to 'CFR WAIVER', "http://nebula.wsimg.com/a56b2272c3996b42b88b5cd2d638670a?AccessKeyId=A62126C89ED833A5A9DB&disposition=0&alloworigin=1", :target => "_blank", class: "btn btn-success btn-sm faq-button"
                  %p= link_to 'CFR MEMBERSHIP AGREEMENT', "http://nebula.wsimg.com/71e1dc02193d3543274e13d903502232?AccessKeyId=A62126C89ED833A5A9DB&disposition=0&alloworigin=1", :target => "_blank", class: "btn btn-success btn-sm faq-button"
                  %p= link_to 'CFR CONTRACT', "http://nebula.wsimg.com/dd5060b898584fa819a9afa04ea61371?AccessKeyId=A62126C89ED833A5A9DB&disposition=0&alloworigin=1", :target => "_blank", class: "btn btn-success btn-sm faq-button"
            .panel.panel-default
              .panel-heading
                %a.accordion-toggle.collapsed{'data-toggle'=>"collapse", 'data-parent'=>'#accordion', 'href'=>'#collapseSix'} 
                  %h4.panel-title Where can I make a payment?
              #collapseSix.panel-collapse.collapse
                .panel-body.text-center
                  %p= link_to 'HERE', '#pricing', class: "btn btn-success btn-sm faq-button reduce"
            .panel.panel-default
              .panel-heading
                %a.accordion-toggle.collapsed{'data-toggle'=>"collapse", 'data-parent'=>'#accordion', 'href'=>'#collapseSeven'} 
                  %h4.panel-title What do I experience in a session of CrossFit?
              #collapseSeven.panel-collapse.collapse
                .panel-body.text-left
                  Scheduled CrossFit classes will be offered daily Monday thru Friday for all members. Each session will have a warm up and preparation. Coaches will teach and explain movements for that day. You will take part in the WOD as a group. After workout coaches will lead a cool down. Strength and conditioning coaches will be available to answer questions and give guidance to help you reach your specific goals. Membership includes all access pass to personal trainers and CrossFit workouts during scheduled workout times, plus open floor training seminars on efficiency and efficacy of movements.
            .panel.panel-default
              .panel-heading
                %a.accordion-toggle.collapsed{'data-toggle'=>"collapse", 'data-parent'=>'#accordion', 'href'=>'#collapseEight'} 
                  %h4.panel-title Do you offer 1-on-1 personal training?
              #collapseEight.panel-collapse.collapse
                .panel-body.text-center
                  YES! Contact us and we can discuss the details.
            .panel.panel-default
              .panel-heading
                %a.accordion-toggle.collapsed{'data-toggle'=>"collapse", 'data-parent'=>'#accordion', 'href'=>'#collapseNine'} 
                  %h4.panel-title What do those acronyms mean?
              #collapseNine.panel-collapse.collapse
                .panel-body.text-center
                  .col-xs-6.text-center
                    %b 
                      %u WOD: 
                    %p Workout Of the Day
                    %b 
                      %u CFSB: 
                    %p CrossFit Strength Bias
                    %b 
                      %u AMRAP: 
                    %p As Many Reps/Rounds As Possible
                    %b 
                      %u EMOM: 
                    %p Every Minute On The Minute
                    %b 
                      %u EOM: 
                    %p Every Odd Minute
                    %b 
                      %u EEM: 
                    %p Every Even Minute
                    %b 
                      %u PR:
                    %p Personal Record
                    %b 
                      %u Rx: 
                    %p As Prescribed / Without Modifications
                    %b 
                      %u SDHP: 
                    %p Sumo Deadlift High Pull
                    %b 
                      %u OHS: 
                    %p Overhead Squat
                    %b 
                      %u TGU: 
                    %p Turkish Get Up
                  .col-xs-6.text-center
                    %b 
                      %u MU: 
                    %p Muscle Up (gymnastics)
                    %b 
                      %u HSPU: 
                    %p Handstand Push Up
                    %b 
                      %u ME: 
                    %p Max Effort
                    %b 
                      %u TTB: 
                    %p Toes To Bar
                    %b 
                      %u MetCon: 
                    %p Metabolic Conditioning Workout
                    %b 
                      %u KB: 
                    %p Kettlebell
                    %b 
                      %u C2B: 
                    %p Chest To Bar
                    %b 
                      %u BJO's: 
                    %p Box Jump Overs
                    %b 
                      %u DH: 
                    %p Dead Hang
                    %b 
                      %u BB: 
                    %p Barbell
                    %b 
                      %u CFR: 
                    %p CrossFit Rocky!

%section.divider
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr

%section#location.hidden-xs
  .container.text-center
    %h2 LOCATION
    .row 
      .col-sm-10.col-sm-offset-1
        .Flexible-container
          %iframe{:width => "425", :height=>"350", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"https://www.google.com/maps/embed/v1/place?q=place_id:ChIJH5woqv82E4cRZ7Rwh4-vP3c&key=AIzaSyAr-nhsQUVlriaJNEBFa7Jt3VA_3WYpk44"}

%section.divider.hidden-xs
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr

%section#contact
  .container.text-center
    %h2 CONTACT US
    .row 
      .col-sm-8.col-sm-offset-2
        .row.text-center
          .col-sm-10.col-sm-offset-1
          %h4 (805) 748-8480
          = mail_to "cfr@crossfitrocky.com", nil, :class => "email-link"

%section.divider
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr

%section#facebook
  .container.text-center
    %h3 FIND US ON FACEBOOK
    .row 
      .col-sm-8.col-sm-offset-2
        .row.text-center
          .col-sm-10.col-sm-offset-1       
          = link_to "http://www.facebook.com/crossfitrocky", :target => "_blank" do
            =image_tag "facebook.png"
